#localhost:80, 443 {
:80 {
	root public/

	encode zstd br gzip

	tls internal

	php_server {
		try_files {path} index.php
		#worker /var/www/html/WebBackEnd/public/index.php
	}

	log {
		#output stdout
		output stderr
		format json
	}
}

{$CADDY_EXTRA_CONFIG}

import Caddyfile.d/*.caddyfile
