#/**/.gitignore
.ProjectCore/Repository/Git/
/**/node_modules
/**/public/hot
/**/public/storage
/**/storage/*.key
/**/*.swp
#Programming/.LaravelCore/vendor/
/.ProjectCore/Temp/PostgreSQL/dump.sql
/.ProjectCore/Temp/MySQL/dump.sql
/Programming/WebBackEnd/nbproject/private/
/Programming/WebFrontEnd/nbproject/private/
/ProgrammingOLD/WebBackEnd/vendor/
/ProgrammingOLD/WebFrontEnd/vendor
/nbproject/private/
#/Programming/WebBackEnd/vendor/
#/Programming/WebBackEnd/vendor/
#/Programming/WebFrontEnd/vendor/
#/Programming/WebFrontEnd/storage/framework/sessions/
