#---> Docker Services
services:

  #---> Services : PostgreSQL Database
  #db-postgresql:
  #  container_name: 'postgresql'
  #  image: 'erp-reborn-postgresql'
  #  restart: 'unless-stopped'
  #  ports:
  #    - '15432:5432'
  #    - '13306:3306'
  #  networks:
  #    app-network:
  #      ipv4_address: '172.28.0.2'
  #  volumes:
  #    - './.ProjectCore/Configuration/Docker/PostgreSQL/Script.ServiceRestart.sh:/usr/local/bin/Script.ServiceRestart.sh'
  #    - './.ProjectCore/Configuration/Docker/PostgreSQL/System/var/lib/postgresql/18/docker/postgresql.conf:/var/lib/postgresql/18/docker/postgresql.conf'
  #    - './.ProjectCore/Configuration/Docker/PostgreSQL/System/var/lib/postgresql/18/docker/pg_hba.conf:/var/lib/postgresql/18/docker/pg_hba.conf'
  #    - './.ProjectCore/PermanentStorage/PostgreSQL/root/.bash_history:/root/.bash_history'
  #    - './.ProjectCore/PermanentStorage/PostgreSQL/var/lib/mysql/:/var/lib/mysql'
  #    - './.ProjectCore/PermanentStorage/PostgreSQL/var/lib/postgresql/18/docker/:/var/lib/postgresql/18/docker'
  #    - './.ProjectCore/Temp/MySQL/:/var/lib/mysql/temp'
  #    - './../ERPReborn-TemporaryStorage/BindMount/PostgreSQL/Temp/:/var/lib/postgresql/temp'
  #    - './Database/Structure/PostgreSQL/:/zhtConf/databaseStructure'
  #  environment:
  #    TZ: 'Asia/Jakarta'
  #    PGDATA: '/var/lib/postgresql/18/docker'
  #    POSTGRES_DB: 'postgres'
  #    POSTGRES_USER: 'postgres'
  #    POSTGRES_PASSWORD: '748159263'
  #    MYSQL_DATABASE: 'db'
  #    MYSQL_USER: 'SysEngine'
  #    MYSQL_PASSWORD: '748159263'
  #    MYSQL_ROOT_PASSWORD: '748159263'



  #---> Services : PHP BackEnd Franken
  php-backend-franken:
    container_name: 'php-backend-franken'
    image: 'erp-reborn-php-backend-laraveloctane-frankenphp'
    build:
      context: '.'
      dockerfile: './.ProjectCore/Configuration/Docker/PHPBackEnd_LaravelOctane_FrankenPHP/Dockerfile'
    restart: 'unless-stopped'
    tty: 'true'
    #entrypoint: 'php artisan octane:start --server=frankenphp --port=8888 --caddyfile=/var/www/html/WebBackEnd/Caddyfile_LaravelOctane'
    ports:
      - '50080:80'
      - '50443:443'
    networks:
      app-network:
        ipv4_address: '172.28.0.30'
    volumes:
      #- './Programming/.LaravelCore:/app/public/.LaravelCore'
      #- './Programming/WebBackEnd_Franken:/app/public/WebBackEnd'
      #- './Programming/WebBackEnd_Franken:/app/public'
      #- './.ProjectCore/Configuration/Docker/PHPBackEnd_Franken/System/etc/caddy/Caddyfile:/etc/caddy/Caddyfile'
      - './.ProjectCore/Configuration/Docker/PHPBackEnd_LaravelOctane_FrankenPHP/System/etc/frankenphp/Caddyfile:/etc/frankenphp/Caddyfile'
      - './.ProjectCore/Configuration/Docker/PHPBackEnd_LaravelOctane_FrankenPHP/System/zhtConf/DataVolume/CaddyData:/data'
      - './.ProjectCore/Configuration/Docker/PHPBackEnd_LaravelOctane_FrankenPHP/System/zhtConf/DataVolume/CaddyConfig:/config'
      - './Programming/WebBackEnd_LaravelOctane_FrankenPHP:/var/www/html/WebBackEnd'
    environment:
      SERVER_NAME: ':80'
      SERVER_ROOT: '/var/www/html/WebBackEnd'
      FRANKENPHP_CONFIG: 'worker ./public/index.php --watch'
    working_dir: '/var/www/html/WebBackEnd'




#---> Docker Volumes
volumes:
  volume-mysql:
    external: true
  volume-percona:
    external: true
  volume-postgresql:
    external: true
  volume-pgadmin4:
    external: true
  volume-redis:
    external: true
  volume-minio-node01-disk01:
    external: true
#  volume-minio-node01-disk02:
#    external: true
#  volume-minio-node01-disk03:
#    external: true
#  volume-minio-node01-disk04:
#    external: true
  volume-minio-node02-disk01:
    external: true
#  volume-minio-node02-disk02:
#    external: true
#  volume-minio-node02-disk03:
#   external: true
#  volume-minio-node02-disk04:
#    external: true
  volume-minio-node03-disk01:
    external: true
#  volume-minio-node03-disk02:
#    external: true
#  volume-minio-node03-disk03:
#    external: true
#  volume-minio-node03-disk04:
#    external: true
  volume-minio-node04-disk01:
    external: true
#  volume-minio-node04-disk02:
#    external: true
#  volume-minio-node04-disk03:
#    external: true
#  volume-minio-node04-disk04:
#    external: true


#---> Docker Networks
networks:
  app-network:
    ipam:
      driver: 'default'
      config:
       - subnet: '172.28.0.0/16'
